body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

header {
    padding: 100px 20px;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.btn { 
    display: inline-block;
    padding: 10px 20px;
    background: white;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    background: black;
    color: white;
}

section {
    padding: 60px 20px;
}

.skill-box {
    display: inline-block;
    background: #222;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 20px;
    transition: 0.3s;
}

.skill-box:hover {
    background: #667eea;
}

.project-card {
    background: #222;
    padding: 20px;
    margin: 20px auto;
    width: 250px;
    border-radius: 10px;
}


